.fig-header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #c1c1c1;
  background-color: #fff;
  box-shadow: 0 0 16px 0 #c1c1c1;
  color: #10263d;

  i {
    font-size: 3rem;
    line-height: 4rem;
    margin-right: 8px;
  }

  .header-text {
    font-size: 2rem;
    line-height: 4rem;
  }

  .header-logo {
    display: flex;
    align-items: center;
    margin-left: auto;

    .header-logo__link {
      margin-right: 10px;
      text-decoration: none;
      font-size: 1.8rem;
      color: #10263d;
    }

    .header-logo__keybord {
      cursor: pointer;
    }
  }
}

#modal-shortcuts {
  padding: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;

  &::backdrop {
    background-color: rgba(0, 0, 0, .7);
  }

  .modal-shortcuts__title {
    margin-bottom: 20px;
    font-size: 2.2rem;
    text-align: center;
  }

  .modal-shortcuts__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.6rem;

    span {
      padding: 5px;
      margin-right: 10px;
      background-color: #efefef;
      border-radius: 2px;
    }
  }
}
