.fig-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  user-select: none;

  .title {
    padding: 0 16px;
    margin-bottom: 16px;
    line-height: 4rem;
  }

  .search {
    padding: 0 16px;
  }

  .list {
    padding: 0 16px;
    flex: 1;
    overflow: scroll;
  }
}
