// @see https://github.com/webpack-contrib/sass-loader#imports
@import "~reset-css/reset.css";

html, body {
  height: 100%;
}

body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.fig-inner {
  &--center {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
