// @see https://github.com/webpack-contrib/sass-loader#imports
@import "node_modules/reset-css/sass/reset";
@import "node_modules/siimple/scss/siimple";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "app";
// page
@import "index";
@import "detail";
// component
@import "breadcrumb";
@import "tree";
@import "view";
@import "code";
@import "opts";
@import "component";

* { box-sizing: border-box; }


html, body {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Inconsolata', monospace;
}

.hide {
  display: none !important;
}
