// @see https://github.com/webpack-contrib/sass-loader#imports
@import "node_modules/reset-css/_reset";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "app";
@import "header";
@import "info";
@import "tree";
@import "view";

* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Inconsolata', monospace;
}

.hide {
  display: none !important;
}
